BASE_URL=http://127.0.0.1:8000
API_PREFIX=/api/v1
TARGET_TPS=5
DURATION=2m
CLOSED_VUS=15
TRIP_FROM=Dhaka
TRIP_TO=Khulna
# TRIP_DATE=2026-07-16
VEHICLE_TYPE=bus
LOADTEST_PASSWORD=LoadTest@123
LOADTEST_USER_COUNT=50
PRE_ALLOCATED_VUS=20
MAX_VUS=50
THINK_TIME_MS=0
